# Ignorar tudo
*
!*/

# Arquivos raiz
!.gitignore
!README.md

# Pasta E2E
!Tests_e2e/
!Tests_e2e/**

# Pasta principal
!ExameDesenvolvedorDeTestes/
/ExameDesenvolvedorDeTestes/*

# README interno principal
!ExameDesenvolvedorDeTestes/README.md

# Bugs
!ExameDesenvolvedorDeTestes/Bugs/
!ExameDesenvolvedorDeTestes/Bugs/**

# Backend Tests
!ExameDesenvolvedorDeTestes/api/
/ExameDesenvolvedorDeTestes/api/*
!ExameDesenvolvedorDeTestes/api/MinhasFinancas.Tests/
!ExameDesenvolvedorDeTestes/api/MinhasFinancas.Tests/**

# Frontend tests somente
!ExameDesenvolvedorDeTestes/web/
/ExameDesenvolvedorDeTestes/web/*
!ExameDesenvolvedorDeTestes/web/src/
/ExameDesenvolvedorDeTestes/web/src/*
!ExameDesenvolvedorDeTestes/web/src/test/
!ExameDesenvolvedorDeTestes/web/src/test/**

# Não liberar web/README.md (fica ignorado)

# Temporários
**/bin/
**/obj/
**/node_modules/